.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.eventContainer{    
    position: relative;

    height: 270px;
    width: 95vw;
    min-height: 200px;

    border-radius: 10px;
    border: 1px solid lightgray;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% center;

    background-color: white;

    display: flex;
    flex-direction: column;

    font-weight: 500;           
    color: white;
    text-shadow: 3px 3px 2px black;

    text-decoration-line: none;

    margin: 0px 0px 10px 0px;
}

.eventName{
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 0px 10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    font-size: 2em;
}

.div1{
    display: flex;
    justify-content: center;
}

.dayGroupings{
    display: flex;
    flex-direction: column;
}

.labelThumbnailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dayLabel{
    text-align: center;
    font-weight: 600;           
    color: black;
    padding: 40px 0px 40px 0px;
    margin: 30px 0px 30px 0px;
    font-size: 2em;
    border-bottom: 3px solid rgb(85, 85, 85);
    width: 300px;
}

@media(width < 310px){
    .dayLabel{
        width: 240px;
    }
}

@media(orientation: portrait), (width: 720px){
    .eventContainer{
        height: 330px;
    }

    .div1{
        flex-direction: column;
    }

    .verticalLine{
        height: 0%;
        width: 60%;
    }
}

.eventDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-self: center;
}

.eventDetails > *{
    font-size: 1.2em;
}

.eventDescription > *{
    font-size: 1.2em;
}

@media(width < 610px){
    .eventContainer{
        height: 240px;
    }

    .eventName{
        font-size: 1.3em;
    } 

    .eventDetails > *{
        font-size: 1em;
    }
    
    .eventDescription > *{
        font-size: 1em;
    }

    .dayLabel{
        padding: 20px 0px 20px 0px;
        margin: 15px 0px 15px 0px;
        font-size: 1.5em;
    }
}

.verticalLine{
    height: 80%;
    border: 1px solid lightgrey;
    align-self: center;
    box-shadow: 1px 5px 5px black;
}

.matchThumbnailContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-weight: 700;
}



.cornerItem{
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    text-decoration: none;
    text-shadow: none;
    font-weight: 550;
    font-size: small;

    box-shadow: 2px 2px 2px black;
    
}

.cornerItem:hover{
    cursor: pointer;
    background-color: rgb(156, 155, 155)
}

.cornerContainerParent{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.cornerContainer{
    display: flex;
    gap: 10px;
    right: 5px;
    bottom: 5px;
    justify-content: flex-end;
}

.restoreButton{
    background-color: #db3c30;
    color: white;
    min-width: 120px;
}

.restoreButton:hover{
    background-color: #b13027;
}