.parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    height: 100%;
    padding-top: 20px;
}

.eventThumbnails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media(width < 400px){
    .parent{
        gap: 10px;
    }
}
