.parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.eventThumbnails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    gap: 20px;
}

@media(width < 1030px){
    .eventThumbnails{
        width: 100%;
    }
}

