.parent{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 30px;
}

.p{
    font-size: 3em;
}

.icon{
    font-size: 1em;
    margin-right: 10px;
}

.infoContainer{
    margin-top: 100px;
    max-width: 1100px;
    display: flex;
    gap: 40px;
}

.infoItem{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemIcon{
    font-size: 3em;
}

@media(width < 1000px){
    .infoContainer{
        max-width: 800px;
    }
}

@media(width < 820px){
    .infoContainer{
        margin-top: 50px;
        gap: 20px;
    }

    .infoContainer{
        flex-direction: column;
    }
}



@media(orientation: portrait), (width < 600px){
    .parent{
        gap: 10px;
    }
}

@media(width < 450px){
    .p{
        font-size: 1.9em;
    }
}

@media(width < 350px){
    .p{
        font-size: 1.5em;
    }
}

.spoilerText{
    font-size: 24px;
    margin: 16px;
    text-align: center;
    color: #1446A0;
    font-weight: 600;
}

.tempSpan{
    font-size: 24px;
    color: blue;
    font-weight: 700;
}

@media(width < 400px){
    .spoilerText{
        font-size: 18px;
    }

    .tempSpan{
        font-size: 18px;
    }
}