.container{
    width: 100%;
    height: 100%;
    display: flex;
}

@media(orientation: portrait),(width < 1200px){
    .container{
        flex-direction: column;
    }

    .detailsContainer{
        min-width: 80%;
        align-self: center;
    }

    .playerContainer{
        width: 80%;
        align-self: center;
        max-width: 600px;
        min-width: 380px;
    }
}

.videoFeedbackContainer{
    width: 96%;
    display: flex;
    flex-direction: column;
}

.videoContainer{
    position:relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0%;
}

.videoContainer iframe{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 95%;

    border-radius: 10px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
}

.detailsContainer{
    width: 25%;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.containerTab{
    display: flex;
    gap: 7px;
    justify-content: center;
}

.containerTab > * {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    text-decoration: none;
    text-shadow: none;
    font-weight: 550;
    font-size: small;

    box-shadow: 2px 2px 2px black;

    align-self: center;
}

.containerTab > *:hover {
    cursor: pointer;
    background-color: rgb(156, 155, 155)
}

.playerContainer{
    padding: 10px;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 10%;
    height: 250px;

    border-radius: 10px;

    display: flex;
    gap: 10px;
    flex-direction: column;

    font-weight: 500;           
    color: white;
    text-shadow: 3px 3px 2px black;
    text-decoration-line: none;
}

.link{

    background-color: #1446A0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    text-decoration: none;
    text-shadow: none;

    box-shadow: 3px 3px 2px black;

    align-self: flex-start;

}

.link:hover{
    cursor: pointer;
    background-color: #0f357a;
}

.playerName{
    font-size: 1.4em;
}

/* .matchDetailsHeader{
    font-size: 1.4em;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 0px 10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.matchDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.matchDetailsDescription{
    font-size: 1.2em;
    text-align: center;
}

.matchDetailsContainer{
    min-height: 23vh;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0%;

    display: flex;
    flex-direction: column;

    font-weight: 500;           
    color: white;
    text-shadow: 3px 3px 2px black;
    text-decoration-line: none;
} */