.container{
    width: 100%;
    height: 100%;
    display: flex;

}

.videoFeedbackContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.videoContainer{
    position:relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0%;
}

.videoContainer iframe{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 95%;

    border-radius: 10px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
}

.detailsContainer{
    align-self: flex-start;
    width: 25%;

    margin: 0px 20px 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    min-width: 20vw;
}

.containerTab{
    display: flex;
    gap: 7px;
    justify-content: center;
    
}

.containerTab > * {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    text-decoration: none;
    text-shadow: none;
    font-weight: 550;
    font-size: small;

    box-shadow: 2px 2px 2px black;

    align-self: center;
}

.containerTab > *:hover {
    cursor: pointer;
    background-color: rgb(156, 155, 155)
}

.playerContainer{
    padding: 10px;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 10%;
    min-height: 20vh;

    border-radius: 10px;

    display: flex;
    gap: 10px;
    flex-direction: column;

    font-weight: 500;           
    color: white;
    text-shadow: 3px 3px 2px black;
    text-decoration-line: none;
}

.link{

    background-color: #1446A0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    text-decoration: none;
    text-shadow: none;

    box-shadow: 3px 3px 2px black;

    align-self: flex-start;

}

.link:hover{
    cursor: pointer;
    background-color: #0f357a;
}

.playerName{
    font-size: 1.4em;
}

.eventContainer{
    min-height: 25vh;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0%;

    display: flex;
    flex-direction: column;

    font-weight: 500;           
    color: white;
    text-shadow: 3px 3px 2px black;
    text-decoration-line: none;
}

.eventName{
    font-size: 1.4em;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px 0px 10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.eventDetailsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}