.parent{
    background: white;
    border: 1px solid lightgray;

    width: 600px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.subParent{
    width: 90%;
    height: 85%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container1{
    display: flex;
    width: 100%;
    gap: 30px;
    position: relative;
}

.name{
    font-weight: 700;
}

.img{
    height: 100px;
    width: 100px;
    align-self: center;
    border: 2px solid lightgrey;
    position: relative;
}

.editButton{
    position: absolute;
    right: 2px;
    top: 1px;

    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;

    text-decoration: none;
    text-shadow: none;
    font-weight: 550;
    font-size: small;

    box-shadow: 1px 1px 2px black;
    
}

.editButton:hover{
    cursor: pointer;
    background-color: rgb(156, 155, 155)
}

.dropdown{
    background-color: white;
    border: 1px solid lightgrey;

    position: absolute;
    top: 100px;

    display: flex;
    flex-wrap: wrap;
}

.dropdownImg{
    cursor: pointer;
    height: 80px;
    width: 80px;
}

.dropdownImg:hover{
    filter: contrast(50%);
}   

.entry{
    font-weight: 500;
    margin-left: 130px;
    border: 1px solid lightgrey;
}

@media(width < 650px){
    .parent{
        width: 100%;
    }

    .entry{
        margin-left: 0px;
    }
}

