.parent{
    height: 100%;
    min-width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.buttonContainer{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media(width < 500px){
    .parent{
        min-width: 100vw;
    }
}

@media(width < 400px){
    .buttonContainer{
        width: 250px;
    }
}

.container{
    padding: 20px;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.img{
    border: 1px solid lightgray;
}

.button{
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    gap: 6px;
}

.button:hover{
    color: #1446A0;
}

.dropdown{
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px;
    z-index: 1;
    min-width: 300px;
    right: -20px;
    top: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

