.parent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
}

.commenter{
    font-weight: 600;
}

.commentContainer{
    display: flex;
    gap: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 15px;
}

.textarea {
    border-radius: 10px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;

    font-size: 1.2em;
}

.submitButton{
    background-color: #1446A0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    box-shadow: 3px 3px 2px black;


    max-width: min-content;
}

.submitButton:hover{
    cursor: pointer;
    background-color: #0f357a;
}

.deleteButton{
    background-color: #db3c30;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    font-size: smaller;
    max-height: 25px;
    position: absolute;
    right: 0;
}

.deleteButton:hover{
    cursor: pointer;
    background-color: #b53228;
}

.hr{
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    width: 90%;
}

.img{
    height: 50px;
    width: 50px;
    align-self: center;
    border: 2px solid lightgrey;
}

.pageButtons{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 7px;
    justify-content: center;
}

.pageButtons > * {
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    text-decoration: none;
    text-shadow: none;
    font-weight: 550;
    font-size: small;

    box-shadow: 2px 2px 2px black;

    align-self: center;
}

.pageButtons > *:hover {
    cursor: pointer;
    background-color: rgb(156, 155, 155)
}

.selectedButton{
    background-color: #e24840;
    color: white;
}

.selectedButton:hover{
    background-color: #e24840;
    color: white;
}
