.match{
    display: flex;
    flex-direction: row;

    border-radius: 10px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;

    font-weight: 500;
    color: white;
    text-shadow: 3px 3px 2px black;
    text-decoration-line: none;

    position: relative;
}

.match:hover{
    box-shadow: 0px 0px 30px #1446A0;;
    cursor: pointer;
}

.info{
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;

    justify-self: start;
}

.date{
    font-size: small;
}

.imageContainer{  
    overflow: hidden;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.imageLeft{
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.imageRight{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.default{
    width: 20vw;
    height: 200px;
    min-width: 300px;
    max-width: 400px;
}

.issuePage{
    width: 25vw;
    min-width: 300px;
    height: 250px;
}

.editButton{
    position: absolute;
    right: 5px;
    top: 5px;

    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    text-decoration: none;
    text-shadow: none;
    font-weight: 550;
    font-size: small;

    box-shadow: 2px 2px 2px black;
    
}

.editButton:hover{
    cursor: pointer;
    background-color: rgb(156, 155, 155)
}

@media(orientation: portrait),(width < 968px){
    .default{
        min-width: 350px;
    }
}

@media(width < 650px){
    .issuePage{
        width: 100%;
        height: 170px;
        min-width: 100px;
    }
}

@media(width < 450px){
    .default{
        height: 150px;
        width: 96vw;
    }
}

@media(width < 380px){
    .default{
        min-width: 0px;
    }

    .date{
        font-size:x-small;
    }

    .playerName{
        font-size: medium;
    }

    .eventTitle{
        font-size: medium;
    }
}
