.match{
    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 15px 25px 15px 25px;
    margin: 20px;

    border-radius: 10px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;

}