.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    max-height: 20vh;
    max-width: 35vw;
    min-height: 200px;
    min-width: 300px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cancelButton{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: larger;
}

.cancelButton:hover{
    cursor: pointer;
    background-color: lightgray;
}

.deleteButton{
    background-color: #db3c30;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: larger;
}

.deleteButton:hover{
    cursor: pointer;
    background-color: #b53228;
}



.closeButton{
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}