.searchform{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
}

.searchBar{
    display: flex;
    align-items: center;

    background-color: white;
    border-radius: 20px;
    border: 1px solid grey;

    width: 700px;
}

.searchButton{
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.searchButton:hover{
    background-color: lightgray;
}

.hero{
    display: flex;
    gap: 10px;
}

.searchInput{
    border: none;
    flex-grow: 1;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.searchInput:focus{
    outline: none;
}

.vs{
    font-weight: 500;
    align-self: center;
}

@media (orientation: portrait), (width < 900px){
    .searchBar{
        width: 95vw;
        min-width: 0px;
    }
}

@media(width < 600px){
    .hero{
        flex-direction: column;
    }

    .vs{
        font-size: .8em;
    }
}

