.searchform{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
}

.searchBar{
    display: flex;
    align-items: center;

    background-color: white;
    border-radius: 20px;
    border: 1px solid grey;

    width: 700px;
}

.searchButton{
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.searchButton:hover{
    background-color: lightgray;
}

.hero{
    display: flex;
    gap: 10px;
}

.searchInput{
    border: none;
    flex-grow: 1;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.searchInput:focus{
    outline: none;
}

.dateRange{
    color: rgb(99, 99, 99);
    border-radius: 5px;
    border-color: rgb(129, 129, 129);
    border-style: solid;
    border-width: 1px;
    padding: 5px 8px 5px 8px;
}

.dateRange:focus{
    outline: none;
    box-shadow: 0px 0px 5px #1446A0;
}

.vs{
    font-weight: 500;
    align-self: center;
}

.parametersContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

@media (orientation: portrait), (width < 900px){
    .searchBar{
        width: 95vw;
        min-width: 0px;
    }
}

@media(width < 720px){
    .parametersContainer{
        align-items: flex-start;
    }
    
    .hero{
        flex-direction: column;
    }

    .vs{
        visibility: hidden;
        position: absolute;
    }   
}

