.searchform{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    margin: 20px;
    padding: 2px;
}

.container{
    display: flex;
    flex-direction: column;
}

.searchBar{
    display: flex;
    gap: 10px;
    align-items: center;

    background-color: white;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid grey;

    width: 40vw;
    max-width: 700px;
    min-width: 500px;
}

.searchButton{
    background-color: white;
    border: none;
    cursor: pointer;
}

.hero{
    display: flex;
    gap: 10px;
}

.searchInput{
    border: none;
    flex-grow: 1;
}

.searchInput:focus{
    outline: none;
}

@media (orientation: portrait){
    .searchBar{
        width: 75vw;
        min-width: 100px;
    }

    .hero{
        flex-direction: column;
    }
}

