.navbar{
    display: flex;
    font-weight: bold;
    border: 0px;
    border-bottom: 1px;
    border-color: grey;
    border-style: solid;
    justify-content: space-around;
}

.item{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.item:hover{
    color: #1446A0;
}