.navbar{
    display: flex;
    font-weight: bold;
    border: 0px;
    border-bottom: 1px;
    border-color: grey;
    border-style: solid;
    justify-content: space-around;
}

.item{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.item:hover{
    color: #1446A0;
}

.bars{
    display: none;
    padding: 10px;
    font-size: 3em;
    background: none;
    border: none;
}

.bars:hover{
    background-color: lightgray;
}

@media(orientation: portrait),(max-width: 900px){
    .item{
        display: none;
    }

    .navbar{
        justify-content: flex-start;
    }

    .bars{
        display:block;
    }
}
