.parent{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
}

.sidebar{
    position: absolute;
    height: 100%;
    width: 300px;
    background-color: white;
    left:0;
}

.sidebarContainer{
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.xbutton{
    background: none;
    border: none;
    font-size: 4em;
}

.xbutton:hover{
    background-color: lightgrey;
}

.item{
    font-size: 1.3em;
    padding: 15px 10px 15px 10px;
    white-space: nowrap;
}

.item:hover{
    background-color: lightgrey;
}

.loginItem{
    font-size: 1.2em;
    padding: 15px 10px 15px 10px;
    position: absolute;
    bottom: 20px;
}

@media(width < 500px){
    .sidebar{
        width: 250px;
    }

    .sidebarContainer{
        margin-left: 15px;
    }
}

@media(width < 400px){
    .sidebarContainer{
        margin-left: 10px;
    }

    .item{
        font-size: 1.1em;
    }
}